body {
    background-color: black;
}

.header {
    display: block;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.navbar {
    display: sticky;
    background-color: black;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 40px 125px 0px;
    height: 150px;
    margin: 0px;
    box-shadow: 4px 4px 5px 3px rgba(65, 50, 11, 0.05);
}

.nav-logo {
    height: 100px;
    padding-left: 10%;
}

/* nav-tools is all the hyperlink locations of navbar*/
.nav-tools {
    display: flex;
    align-items: center;
    padding-left:0px;
}

/* These are boxes containing each individual item of navbar*/
.navbar .nav-item {
    height: 50px;
    align-items: center;
    display: flex;
    background-color: #000000;
    padding: 0px 20px;
    border: none;
    position: relative;
    list-style-type: none;
}

/* These are actual navbar item w/ hyperlinks */
.navbar .nav-item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* This is to give specific property of auto height to
the dropdown item to make dropdown content have no gap
 */
.navbar .nav-dropdown-item {
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif

}

.navbar .nav-dropdown-item-oppos {
    left: auto;
    right: 0;
}

/* Dropdown Content (Hidden unless hovered) */
.nav-dropdown-content {
    visibility: hidden;
    opacity: 0;
    transition: ease-out 0.24s;
    padding: 10px 0px;
    position: absolute;
    background-color: rgb(226, 218, 208);
    border: 5px solid rgb(0, 0, 0);
    border-left: none;
    border-radius: 5px;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    list-style-type: none;
    z-index: 1;
}
  
  /* Links inside the dropdown */
.nav-dropdown-content a {
    color: #000;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    list-style-type: none;
}
   
  /* Show the dropdown menu on hover */
.nav-dropdown:hover .nav-dropdown-content {
    visibility: visible;
    opacity: 1;
}

  /* Change dropdown links props when hovered */
.nav-dropdown-content a:hover {
    display: block;
    background-color: #d3c6ba;
    transition: 0.25s;
}

  
  /* Change dropdown props when hovered */
.nav-item:hover {
    border-bottom: 2px solid white;
    transition: .15s ease-in-out;
}

/*
.nav-contact {
    display: flex;
    align-items: center;
}

#phone {
    height:50px;
    border-radius: 25px;
    margin-right: 10px;
    opacity: .85;
}

#number {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(203, 199, 212)
}
*/

@font-face {
  font-family: 'playfair_displaynormal';
  src:url('Playfair Display Normal.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

  /* beginning of homepage, */
.homepage {
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    font-weight:lighter;
    padding: 150px 0px;
}

.homepage-text {
  width: 42%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-heading {
  font-family: playfair_displaynormal;
  color: #e2e0de;
  font-size: 60px;
  margin: 10px 0px;
}

#charlotte {
  color:#f0d3b1;
}

.homepage-subheading {
  font-family: playfair_displaynormal;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px
}

.homepage-subheading-text {
  color: white;
  font-size: 18px;
  margin: 10px 0px;
}

#CLT {
  color: #f0eeec;
}

.subheading-line {
  /*styling details in html*/
}

.line-break {
  border-width: 0.5px;
  width: 90%;
}

nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

/* start of body page */

.bodypage {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: ;
}

.body1 {
  background-color: #f0d3b1;
  display: block
}

.body1-text {
  color: black;
  padding: 50px 0px;
}

